
*,*::before,*::after {
    box-sizing: border-box;
    background-color: none;
}

body {
    background: url('https://cdn.wallpapersafari.com/21/67/g3yNnR.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

tr {
    color: #ffff;
}

.hero {
    height: 450vh;
}


  header {
      position: relative;
      text-align: center;
      background-color: #40487380;
      color:black ;
      font-family: 'Paytone One', sans-serif;
     
 }  

.Subtitle{
    background-color: #40487380;
    text-align: center;
    color:black ;
}
.rng {
  
    margin: none;
    padding: none;
    width: 100vw;
}

.mycard {

    margin: 0 0 5px 5px;

}

.citywrapper {
    
    max-width: 25%;
    margin: 0 60px 0 0;
    
}


  .container-sm{
     
      padding:0;
      margin: 0;
  }

.hide {
display: none;
}

.form-inline {
    margin-top: 20px;
}

.CTS {
    /* max-width: 60%; */
    margin-left: 20px;
    background-color:#02405965 ;
    /* color: #FFFFFF; */
    font-weight: bold;

}

.dashboard {
    max-width: 50%;
}

@media screen and (max-width:600px){
    .citywrapper {
        max-width: 100%;
        margin: 0 60px 0 0;
        
    }
   
    .CTS {
        /* max-width: 60%; */
        margin-left: 20px;
        background-color:#02405965 ;
        /* color: #FFFFFF; */
        font-weight: bold;
    
    }
    .dashboard {
     max-width: 200%;
    }

}

 h4 {
color:black;
font-family: 'Paytone One', sans-serif;
}

a{
    color: black;
   font-size: 1.5em;
}
.card-body {
    margin-top: 20px;
   
}

.current {
    
    margin-left: 20px;
    padding: 5px;
    align-content: center;
    background-color: #B9BF0490;
}

.bgcrd {
    background-color: #B9BF0490;
    margin: 0;
}

.form-inline {
    margin-left: 20px;
}
    /* Footer */
/* containing position sticky */
footer {
    text-align: center;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    color: #024059;

}
.copyright {
    font-size: larger;

}
.fab {
    margin: 3px 10px 3px 10px;
    text-align: center;
    color:#024059 ;

}
