
*,*::before,*::after {
    box-sizing: border-box;
    background-color: none;
}


.hero{
    position: relative;
    height: 300vh;
}

.hero::before{
    content: "";
    background: url('https://cdn.wallpapersafari.com/21/67/g3yNnR.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
    opacity: 0.75;
}

  header {
      position: relative;
      text-align: center;
      background-color: #40487380;
      color:black ;
      font-family: 'Paytone One', sans-serif;
     
 }  

.Subtitle{
    text-align: center;
}
.rng {
   
    margin: none;
    padding: none;
    width: 100vw;
}

.mycard {
    /* max-width: 20%; */
    margin: 0 0 5px 5px;
   /* margin-right: 5px;
   margin-left: 5px;
   margin-bottom: 5px; */
   
}

.citywrapper {
    margin: 0 60px 0 0;
    
}



  .container-sm{
      height: 100vh;
      padding:0;
      margin: 0;
  }
.dashboard h1{
    color:#F2B705;
    background-color:#404873;
}


.form-inline {
    margin-top: 20px;
   
}
a{
    color: black;
    font-size: x-large;
}
.card-body {
    margin-top: 20px;
   
}

.bgcrd {
    background-color: #B9BF0480;
    margin: 0;
}

.form-inline {
    margin-left: 20px;
}
    /* Footer */
/* containing position sticky */
footer {
    text-align: center;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    color: #024059;

}
.copyright {
    font-size: larger;

}
.fab {
    margin: 3px 10px 3px 10px;
    text-align: center;
    color:#024059 ;

}
